.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
    /* background-color: red; */
}

.card ul{
    margin: 20px;
}

.card ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
    border: 2px solid black;
    margin: 10px;
}